@import url(https://fonts.googleapis.com/css?family=Handlee);
@import url(https://fonts.googleapis.com/css?family=Freckle+Face);

body {
	background-image: url("../img/cork-board.jpg");
	background-size: 400px 400px;
	margin: 0 auto;
	overflow: hidden;
}

.loading {
	position: absolute;
	top: 25%;
	font-size: 3em;
	width: 100%;
	text-align: center;
	display: none;
}

.wrapper {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.container {
	margin-top: 10vh;
}

.note-card {
	width: 100%;
	max-width: 800px;
	height: calc(100vh - 245px);
	min-height: 210px;
	max-height: 470px;
	margin: 0 auto;
	background-image: url("../img/notecard.png");
	background-size: 800px 450px;
	position: relative;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
				0 6px 6px rgba(0, 0, 0, 0.23);
	border: none;
	font-family: 'Handlee', cursive;
}

.thumb-tack {
	position: absolute;
	height: 100px
	width: 100px;
	top: 0;
	left: 47.5%;
	margin-top: -40px;
	margin-left: -50px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.title {
	position: absolute;
	text-align: center;
	line-height: 1.4em;
	left: 0;
	right: 0;
	margin-top: 15px; /* 2% */
}

.content {
	position: absolute;
	left: 0;
	right: 0;
	top: 70px; /* 15% */
	text-align: center;
	font-size: 1.5em;
	line-height: 1.6em;
	padding: 0 5px 0 5px;
}

.source {
	position: absolute;
	bottom: 0;
	right: 0;
	padding-right: 10px;
}

.paper * {
	position: absolute;
}

.paper {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	cursor: pointer;
}

.genQuote {
	position: absolute;
	left: -70px;
	top: -80px;
	transform: rotate(-8deg);
	z-index: -1;
}

.quote-link {
	position: absolute;
	bottom: -80px;
	left: -10px;
	/*background-color: rgba(0, 255, 0, 0.5);*/
	height: 60px;
	width: 225px;
	z-index: 501;
	transform: rotate(-9deg);
}

.genText {
	width: 230px;
	bottom: -235px;
	left: 50px;
	transform: rotate(-2deg);
	font-size: 3em;
	font-family: 'Freckle Face', cursive;
	color: #A10080;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
}

.twitter {
	right: 90px;
	top: -120px;
	transform: rotate(42deg);
	z-index: -2;
}

.twitter-link {
	position: absolute;
	bottom: -83px;
	right: 12px;
	/*background-color: rgba(0, 0, 255, 0.5);*/
	height: 60px;
	width: 60px;
	z-index: 500;
}

.fa {
	bottom: -128px;
	left: 125px;
}

.fa-circle {
	color: #1DA1F2;
	z-index: 1;
}

.fa-twitter {
	transform: rotate(-42deg);
	padding-left: 10px;
	padding-bottom: 4px;
	z-index: 2;
}